*{
    box-sizing: border-box;
}

aside ul li a img{
    height: 40%;
    width: 40%;
    float: left;
    padding: 5px 5px 5px 5px;
}

aside{
    text-align: center;
}

blockquote{
    margin: 10px 30px 10px 30px;
}

body{    
    background: url("vintage-concrete.png") repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow:auto;
    columns: #777777;
}

footer{
    background: #666666;
    border-top: 3px solid teal;
    color: #cccccc;
    text-align: center;
    padding: 40px;
    margin-top: 30px;
}

form button{
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border: none; 
}

form label{
    font-size: 18px;
    display: block;
}

form input, textarea{
    width: 100%;
    display: block;
    margin: 5px 0 20px 0;
    border: 2px solid #cccccc;
    padding: 10px;
    font-size: 16px;
    margin:
}

textarea{
    height: 300px;
}

h1, h2, h3, h4, h5, h6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-weight: bold;
}

header{
    background: white;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 30px;
}

header h1{
    background: teal;
    color: white;
    display: inline-block;
    padding: 30px;
    font-size: 30px;
}

nav{
    width: 300px;
    float: right;
    margin-top: 35px;
    text-align: center;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: #333333;
    font-size: 18px;
    padding: 5px 15px;
    border-right: 2px solid #4aaaa5;
    text-decoration: none;
}

nav ul li:last-child a{
    border-right: none;
    padding-right: none;
}

p, blockquote{
    line-height: 150%;
    text-align: justify;
}

section div img{
    height: 85%;
    width: 85%;
}

.portfolio{
    display: relative;
    margin-bottom: 20px;
    width: 45%;
    float: left;
}

.portfolio:nth-of-type(even){
    float: right;

}

.portfolio{
    position: relative;
    margin-bottom: 20px;
    width:45%;
    float:left;
    height: 250px;
}

.portfolio h4{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 15px;
    background: teal;
    color:white;
    height: 40px;
}

textarea{
    height: 300px;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

.clearfix{
    display:block;
    clear: both;
}

.hwimage{
    float: left;
    margin: 0 15px 15px 0px;
    border: 1px solid #333333;
    border-radius: 50%;
}

#lcolumn #rcolumn{
    background: white;
    padding: 25px;
    border: 5px solid #333333'
}


#lcolumn{
    width: 650px;
    float: left;
    background: white;
    padding: 25px;
    border: 3px solid #cccccc;
}

#lcolumn h3{
    font-size: 20px;
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #cccccc;
}


#rcolumn{
    width: 270px;
    float: right;
    background: white;
    padding: 25px;
    border: 3px solid #cccccc;
}

#rcolumn h3{
    font-size: 20px;
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #cccccc;
}

#rcolumn ul{
    text-align: center;
}

#rcolumn ul li img{
    width: 60px;
    transition-timing-function: linear;
    transition-duration: 1s;
}

#rcolumn ul li img:hover{
    transform:rotate(360deg);
}

#myport1{
    background: url("../tech1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#myport2{
    background: url("../tech2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#myport3{
    background: url("../tech3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#myport4{
    background: url("../tech4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#myport5{
    background: url("../tech5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#myport6{
    background: url("../tech6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
